

<section>
    <h1>ダンス</h1>
    <div class="dance">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/z736A48HbpI" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
         allowfullscreen></iframe>
         <br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/z736A48HbpI" title="YouTube video player" 
       allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
         <br>
    </div>
    <div class="dance">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/z736A48HbpI" title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
         allowfullscreen></iframe>
         <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/z736A48HbpI" title="YouTube video player" 
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
        allowfullscreen></iframe>
        <br>
    </div>
        
   
    
   
</section>


<style>
    section {
        /* display: flex; */
        justify-content: center;
        text-align: center;
        color:red;
        background-color: antiquewhite;
    }

    .dance {
     display:flex;
     margin-top: 4rem;
    }
</style>